<div class="container container-fluid link1_header">
			<div class="row" style="margin-top:10px;">
<!-- 				div.
				col-xs-3
				col-sm-4
				col-md-6
				col-lg-12 -->
				<div class="col-md-2">
					
				</div>
				<div class="col-md-8" style="text-align:center;">
					<h1>Rio olympics</h1>
				</div>
				<div class="col-md-2">
					
				</div>
			</div>

			<div class="row" style="margin-top:10px;">
<!-- 				div.
				col-xs-3
				col-sm-4
				col-md-6
				col-lg-12 -->
				<div class="col-md-2">
					
				</div>
				<div class="col-md-8" style="text-align:center;">
					<img src="/image/pikachu.png" alt="xiaozhi" class = "header_pikachu">
				</div>
				<div class="col-md-2">
					
				</div>
			</div>
</div>